{% extends "journal/base.html" %}
{% block body_block %}
<h4 style="margin-left:2rem;color:#4a148c;">Diary Entries</h4>
  <div class="hide-on-down-only" id='entry-list-desktop'>
  {% for diary in diary_list  %}
  <div class="card horizontal  " id="dashboard-entry-card">
    <div class="card-title " style="margin-top:10vh; padding:1rem;color:teal;">
      {{ diary.creation_date|date:"d M y"}}
    </div>
    <div class="card-stacked">
      <div class="card-content" style=" padding:1rem;border-right:solid 5px #003049;">
        <p>{{ diary.text }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'diary_detail' pk=diary.pk %}">Click To Edit </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="hide-on-med-and-up">
  {% for diary in diary_list  %}
  <div class="card   " id="dashboard-entry-card">
    <div class="card-title " style="margin-top:10vh; padding:1rem;color:teal;">
      {{ diary.creation_date|date:"d M y"}}
    </div>
    <!-- <div class="card-stacked">
      <div class="card-content" style=" padding:1rem;border-right:solid 5px #003049;">
        <p>{{ diary.text }}</p>
      </div> -->
      <div class="card-action">
        <a href="{% url 'diary_detail' pk=diary.pk %}">Click To Read and Edit </a>
      </div>
    <!-- </div> -->
  </div>
  {% endfor %}
</div>
  
 
  <!-- <a href=""> <p>{{ diary.creation_date }}   {{ diary.text }}</p></a> -->

{% endblock body_block %}